.wp-block-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
}

.btn,
.wp-block-button .wp-block-button__link {
  background-color: $primary;
  border: 1px solid $primary;
  color: $primary-ac;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  padding: map-get($spacers, 2) $spacer;
  border-radius: 0;
  &:visited {
    color: $primary-ac;
  }
}

.btn-outline,
.wp-block-button.is-style-outline .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.comment-edit-link,
#cancel-comment-reply-link,
.logged-in-as > a:last-child {
  @extend .btn;
  background-color: transparent;
  color: $body-color;
  &:hover,
  &:focus {
    color: $primary-ac;
    background-color: $primary;
    border-color: $primary;
  }
}

.input-group-append {
  .btn {
    border-left-width: 0;
  }
}
