/*****************************/
/***** Input group ***********/
/*****************************/
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap; // For form validation feedback
  align-items: stretch;
  width: 100%;

  > .form-control,
  > .form-select {
    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    width: 1%;
    min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
  }

  // Bring the "active" form control to the top of surrounding elements
  > .form-control:focus,
  > .form-select:focus {
    z-index: 3;
  }

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.input-group-text` since it shares the same border-color
  // as our inputs.
  .btn {
    position: relative;
    z-index: 2;

    &:focus {
      z-index: 3;
    }
  }
}

.input-group-text {
  border-top-left-radius: $border-radius-sm;
  border-bottom-left-radius: $border-radius-sm;
  display: flex;
  align-items: center;
  padding: map-get($spacers, 2) $spacer;
  white-space: nowrap;
  text-align: center;
  border: 1px solid $primary;
  background-color: transparent;
  color: $body-color;
  + .form-control {
    border-width: 1px 0;
    border-radius: 0;
  }
}

/************************/
/***** Labels ***********/
/************************/
.form-label {
  margin-bottom: map-get($spacers, 2);
  font-size: map-get($fontSizes, "code");
}

/************************/
/***** Inputs ***********/
/************************/
.form-control {
  padding: map-get($spacers, 2) $spacer;
  background-color: transparent;
  color: $body-color;
  background-clip: padding-box;
  border: 1px solid $primary;
  appearance: none; // Fix appearance for date inputs in Safari
  border-radius: $border-radius-sm;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--primary-rgb), 0.25);
    outline: 0;
  }

  // Placeholder
  &::placeholder {
    color: $body-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  &.comment-editor {
    display: block;
    width: 100%;
    min-height: 150px;
  }
}

/************************/
/***** Chekcs ***********/
/************************/
.form-check {
  display: block;
  min-height: 1rem;
  padding-left: $spacer;
  margin-bottom: $spacer;

  .form-check-input {
    float: left;
    margin-left: $spacer * -1;
  }
}
.form-check-input {
  width: 1rem;
  height: 1rem;
  margin-top: map-get($spacers, 2);
  vertical-align: top;
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(var(--primary-rgb), 0.25);
  appearance: none;
  color-adjust: exact; // Keep themed appearance for print

  &[type="checkbox"] {
    border-radius: $border-radius-sm;
  }

  &[type="radio"] {
    // stylelint-disable-next-line property-disallowed-list
    border-radius: 50%;
  }

  &:active {
    filter: brightness(90%);
  }

  &:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--primary-rgb), 0.25);
  }

  &:checked {
    background-color: $primary;
    border-color: $primary;

    &[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }

    &[type="radio"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
  }

  &:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      opacity: 0.5;
    }
  }
}

/*****************************/
/***** Form select ***********/
/*****************************/
.form-select {
  display: block;
  width: 100%;
  padding: map-get($spacers, 2) $spacer;
  // stylelint-disable-next-line property-no-vendor-prefix
  -moz-padding-start: subtract($spacer, 3px); // See https://github.com/twbs/bootstrap/issues/32636
  background-color: transparent;
  color: $body-color;
  border: 1px solid $primary;
  appearance: none;
  border-width: 1px 0;
  background-image: url("../icons/keyboard_arrow_down_24dp.svg");
  background-repeat: no-repeat;
  background-position: right $spacer center;
  &:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(var(--primary-rgb), 0.25);
  }
  option {
    background-color: $body-bg;
    color: $body-color;
  }
}
