/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.wp-caption {
  margin-bottom: $spacer;
  max-width: 100%;

  img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .wp-caption-text {
    margin: $spacer 0;
  }
}

.wp-caption-text {
  text-align: center;
}

.editor-styles-wrapper {
  background-color: $secondary;
}
