//
// Basic Bootstrap table
//

table {
  width: 100%;
  margin-bottom: $spacer;
  color: $secondary-ac;
  vertical-align: middle;
  border-color: $primary;

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  // Highlight border color between thead, tbody and tfoot.
  > :not(:last-child) > :last-child > * {
    border-bottom-color: $primary;
  }
}

//
// Change placement of captions with a class
//
.caption-top {
  caption-side: top;
}
