/* Paragraph
--------------------------------------------- */
p {
  font-size: 18px;
  line-height: 1.5;
  @media (min-width: 1280px) {
    font-size: 21px;
  }
}
/* Heading
--------------------------------------------- */
h1,
h2,
h3 {
  word-spacing: -0.125em;
}
h1 {
  font-size: 35px;
  line-height: 1.3;
  margin: 0 0 0.7em;
  @media (min-width: 1280px) {
    font-size: 105px;
  }
}
h2 {
  font-size: 28px;
  line-height: 1.2;
  margin: 2em 0 1em;
  @media (min-width: 1280px) {
    font-size: 65px;
    margin: 1em 0;
  }
}
h3 {
  font-size: 28px;
  line-height: 1.1;
  margin: 1em 0;
  @media (min-width: 1280px) {
    font-size: 44px;
  }
}
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}
h4 {
  font-size: 26px;
  @media (min-width: 1280px) {
    font-size: 34px;
  }
}
h5 {
  font-size: 24px;
  @media (min-width: 1280px) {
    font-size: 27px;
  }
}
h6 {
  font-size: 24px;
}
/* Gutenberg generated classes
--------------------------------------------- */
.has-text-align-center {
  text-align: center;
}
.has-larger-font-size {
  font-size: 28px;
  margin-bottom: 2em;
  @media (min-width: 1280px) {
    font-size: 30px;
  }
}
.has-large-font-size {
  font-size: 26px;
  margin-bottom: 2em;
  @media (min-width: 1280px) {
    font-size: 28px;
  }
}
.has-small-font-size {
  font-size: 16px;
  line-height: 1.3;
  @media (min-width: 1280px) {
    font-size: 19px;
    line-height: 1.5;
  }
}
