.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-bottom: $spacer;
  list-style: none;
}
.breadcrumb-item {
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item {
    padding-left: 0;

    &::before {
      content: "";
      padding-left: 24px;
      background: url("../icons/keyboard_arrow_right_24dp.svg");
    }
  }

  &.active {
    color: #6c757d;
  }
}
