#color-switcher {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  box-shadow: none;
  border-width: 0;
  background-color: rgba($secondary-rgb, 0.8);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  &::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("../icons/wb_sunny_24dp.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: 2px solid $primary;
  }
  &.dark-mode {
    justify-content: flex-end;
    background-color: white;
    &::before {
      background-image: url("../icons/nightlight_24dp.svg");
      background-color: $secondary;
    }
  }
}
