.loop-post,
.loop-sticky {
  .post-body,
  .sticky-body {
    margin-bottom: map-get($spacers, 4);
    .post-title,
    .sticky-title {
      margin: 0;
      word-break: break-word;
    }
    p {
      margin: 0 0 map-get($spacers, 2);
    }
  }
  .post-footer,
  .sticky-footer {
    display: flex;
    justify-content: space-between;
    .meta-info {
      display: flex;
      flex-direction: column;
    }
  }
}
