/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

  &:focus {
    background-color: $secondary-ac;
    border-radius: $border-radius-sm;
    clip: auto !important;
    clip-path: none;
    color: $secondary-ac;
    display: block;
    height: auto;
    left: $spacer;
    line-height: normal;
    padding: $spacer ($spacer * 1.3) $spacer;
    text-decoration: none;
    top: $spacer;
    width: auto;
    z-index: 100000; // Above WP toolbar.
  }
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}
