.widget_block,
.widget {
  margin-bottom: $spacer;
}
.widget {
  // Make sure select elements fit in widgets.
  select {
    max-width: 100%;
  }

  .widget-title {
    display: inline-block;
    font-size: map-get($fontSizes, "big");
    font-weight: 700;
  }
}
