.archive-description {
  padding: $spacer 0;
}
section[class^="loop-"] {
  &:not(:last-child) {
    border-bottom: $primary 1px solid;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
article[class^="loop-"] {
  padding: $spacer 0;
  &:not(:last-child) {
    border-bottom: $primary 1px solid;
  }
}
