/* Footer navigation
--------------------------------------------- */
.site-footer {
  border-top: 1px solid $primary;
  padding: $spacer * 3 0 0;
  clear: both;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  .top-footer {
    max-width: 840px;
    margin: 0 auto;
  }
}
