.site-header {
  display: flex;
  flex-flow: column wrap;
}
.site-title {
  flex: 0 1 0;
  align-self: center;
  text-decoration: none;
  white-space: nowrap;
}
.site-brand {
  flex: 0 1 0;
  align-self: center;
}
.site-navigation {
  flex: 1 1 0;
}
.logo {
  order: 2;
  text-align: center;
}
.site-navigation {
  order: 1;
}

/** Laptop and desktop view from MDPI **/
@media (min-width: 1280px) {
  .site-header {
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  .logo {
    order: 1;
  }
  .site-navigation {
    order: 2;
  }
}
