.hentry {
  position: relative;
  width: 80%;
  max-width: 840px;
  margin: 0 auto;
  .comments-section {
    margin-top: $spacer * 3;
    padding-top: $spacer;
    border-top: $primary 1px solid;
  }
}

.widgets-section {
  margin-top: $spacer * 3;
  padding-top: $spacer;
  border-top: $primary 1px solid;
  clear: both;
}

.notice {
  padding: $spacer 0;
  text-align: center;
  font-size: 1.5rem;
}
