*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

// Body
// 1. Prevent adjustments of font size after orientation changes in iOS.
// 2. Change the default tap highlight to be completely transparent in iOS.

body {
  -webkit-text-size-adjust: 100%; // 1
  -webkit-tap-highlight-color: rgba($primary, 0); // 2
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif";
  font-size: 18px;
  line-height: 1.5;
  @media (min-width: 1280px) {
    font-size: 21px;
  }
}

// Content grouping
//
// 1. Reset Firefox's gray color
// 2. Set correct height and prevent the `size` attribute to make the `hr` look like an input field

hr {
  margin: $spacer 0;
  color: inherit; // 1
  background-color: $primary;
  border: 0;
  opacity: 0.85;
  position: relative;
  z-index: -1;
}

hr:not([size]) {
  height: 1rem;
}

// Abbreviations
abbr[title],
abbr[data-bs-original-title],
acronym {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

// Address
address {
  margin-bottom: $spacer;
  font-style: normal;
  line-height: inherit;
}

// Lists
ol,
ul {
  padding-left: map-get($spacers, 4);
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

// 1. Undo browser default
dd {
  margin-bottom: map-get($spacers, 2);
  margin-left: 0; // 1
}

// Strong
//
// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: 700;
}

// italic
dfn,
cite,
em,
i {
  font-style: italic;
}

// Small
//
// Add the correct font size in all browsers
small {
  font-size: map-get($fontSizes, "small");
}

// Big
big {
  font-size: map-get($fontSizes, "big");
}

// Mark
mark,
ins {
  padding: $spacer;
  background-color: $primary;
}

// Sub and Sup
//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  position: relative;
  font-size: map-get($fontSizes, "small");
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: math.div(-$spacer, 4);
}
sup {
  top: math.div(-$spacer, 2);
}

// Links
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Code
pre,
code,
kbd,
samp {
  font-family: $fontFamily;
  font-size: map-get($fontSizes, "code"); // Correct the odd `em` font sizing in all browsers.
  direction: ltr #{"/* rtl:ignore */"};
  unicode-bidi: bidi-override;
}

// 1. Remove browser default top margin
// 2. Reset browser default of `1em` to use `rem`s
// 3. Don't allow content to break outside
pre {
  display: block;
  margin-top: 0; // 1
  margin-bottom: $spacer; // 2
  overflow: auto; // 3
  font-size: map-get($fontSizes, "code");

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: "inherit";
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: map-get($fontSizes, "code");
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

kbd {
  padding: $spacer;
  color: $primary-ac;
  background-color: $primary;
  border-radius: $border-radius-sm;

  kbd {
    padding: 0;
    font-size: map-get($fontSizes, "code");
    font-weight: 400;
  }
}

// Figures
//
// Apply a consistent margin strategy (matches our type styles).
figure {
  margin: 0 0 $spacer;
}

// Images and content

img,
svg {
  vertical-align: middle;
}

// Tables
//
// Prevent double borders
table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding: $spacer 0;
  text-align: left;
}

// 1. Removes font-weight bold by inheriting
// 2. Matches default `<td>` alignment by inheriting `text-align`.
// 3. Fix alignment for Safari
th {
  font-weight: 700; // 1
  text-align: inherit; // 2
  text-align: -webkit-match-parent; // 3
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

// Forms
//
// 1. Allow labels to use `margin` for spacing.
label {
  display: inline-block; // 1
}

// Remove the default `border-radius` that macOS Chrome adds.
// See https://github.com/twbs/bootstrap/issues/24093
button {
  // stylelint-disable-next-line property-disallowed-list
  border-radius: 0;
}

// Explicitly remove focus outline in Chromium when it shouldn't be
// visible (e.g. as result of mouse click or touch tap). It already
// should be doing this automatically, but seems to currently be
// confused and applies its very visible two-tone outline anyway.
button:focus:not(:focus-visible) {
  outline: 0;
}

// 1. Remove the margin in Firefox and Safari
input,
button,
select,
optgroup,
textarea {
  margin: 0; // 1
  font-size: map-get($fontSizes, "code");
  line-height: inherit;
}

// Remove the inheritance of text transform in Firefox
button,
select {
  text-transform: none;
}
// Set the cursor for non-`<button>` buttons
//
// Details at https://github.com/twbs/bootstrap/pull/30562
[role="button"] {
  cursor: pointer;
}

select {
  // Remove the inheritance of word-wrap in Safari.
  // See https://github.com/twbs/bootstrap/issues/24990
  word-wrap: normal;

  // Undo the opacity change from Chrome
  &:disabled {
    opacity: 1;
  }
}

// Remove the dropdown arrow in Chrome from inputs built with datalists.
// See https://stackoverflow.com/a/54997118

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
// 3. Opinionated: add "hand" cursor to non-disabled button elements.

button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // 2
  cursor: pointer; // 3
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// 1. Textareas should really only resize vertically so they don't break their (horizontal) containers.

textarea {
  resize: vertical; // 1
}

// 1. Browsers set a default `min-width: min-content;` on fieldsets,
//    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
//    So we reset that to ensure fieldsets behave more like a standard block element.
//    See https://github.com/twbs/bootstrap/issues/12359
//    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
// 2. Reset the default outline behavior of fieldsets so they don't affect page layout.

fieldset {
  min-width: 0; // 1
  padding: 0; // 2
  margin: 0; // 2
  border: 0; // 2
}

// 1. By using `float: left`, the legend will behave like a block element.
//    This way the border of a fieldset wraps around the legend if present.
// 2. Fix wrapping bug.
//    See https://github.com/twbs/bootstrap/issues/29712

legend {
  float: left; // 1
  width: 100%;
  padding: 0;
  margin-bottom: $spacer;
  font-size: map-get($fontSizes, "small");
  font-weight: 400;
  line-height: inherit;

  + * {
    clear: left; // 2
  }
}

// Fix height of inputs with a type of datetime-local, date, month, week, or time
// See https://github.com/twbs/bootstrap/issues/18842

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

// 1. Correct the outline style in Safari.
// 2. This overrides the extra rounded corners on search inputs in iOS so that our
//    `.form-control` class can properly style them. Note that this cannot simply
//    be added to `.form-control` as it's not specific enough. For details, see
//    https://github.com/twbs/bootstrap/issues/11586.

[type="search"] {
  outline-offset: -2px; // 1
  -webkit-appearance: textfield; // 2
}

// 1. A few input types should stay LTR
// See https://rtlstyling.com/posts/rtl-styling#form-inputs
// 2. RTL only output
// See https://rtlcss.com/learn/usage-guide/control-directives/#raw

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/

// Remove the inner padding in Chrome and Safari on macOS.

::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Remove padding around color pickers in webkit browsers

::-webkit-color-swatch-wrapper {
  padding: 0;
}

// Inherit font family and line height for file input buttons

::file-selector-button {
  font: inherit;
}

// 1. Change font properties to `inherit`
// 2. Correct the inability to style clickable types in iOS and Safari.

::-webkit-file-upload-button {
  font: inherit; // 1
  -webkit-appearance: button; // 2
}

// Correct element displays

output {
  display: inline-block;
}

// Remove border from iframe

iframe {
  border: 0;
}

// Summary
//
// 1. Add the correct display in all browsers

summary {
  display: list-item; // 1
  cursor: pointer;
}

// Progress
//
// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  vertical-align: baseline;
}

// Hidden attribute
//
// Always hide an element with the `hidden` HTML attribute.

[hidden] {
  display: none !important;
}
