.wp-block-social-links {
  display: flex;
  gap: map-get($spacers, 2);
  color: white;
  .wp-social-link {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a,
    a:hover {
      text-decoration: none;
      border-bottom: 0;
      box-shadow: none;
      line-height: 1;
    }
    svg {
      width: 1em;
      height: 1em;
      fill: $body-color;
    }
  }
  .wp-social-link-facebook {
    background-color: #1778f2;
  }
  .wp-social-link-linkedin {
    background-color: #0d66c2;
  }
  .wp-social-link-twitter {
    background-color: #1da1f2;
  }
  .wp-social-link-twitch {
    background-color: #6440a4;
  }
  .wp-social-link-yelp {
    background-color: #d32422;
  }
  .wp-social-link-wordpress {
    background-color: #3499cd;
  }
  .wp-social-link-amazon {
    background-color: #f90;
  }
  .wp-social-link-bandcamp {
    background-color: #1ea0c3;
  }
  .wp-social-link-behance {
    background-color: #0757fe;
  }
  .wp-social-link-codepen {
    background-color: #1e1f26;
  }
  .wp-social-link-deviantart {
    background-color: #02e49b;
  }
  .wp-social-link-dribbble {
    background-color: #e94c89;
  }
  .wp-social-link-dropbox {
    background-color: #4280ff;
  }
  .wp-social-link-etsy {
    background-color: #f45800;
  }
  .wp-social-link-fivehundredpx {
    background-color: #000;
  }
  .wp-social-link-flickr {
    background-color: #0461dd;
  }
  .wp-social-link-foursquare {
    background-color: #e65678;
  }
  .wp-social-link-github {
    background-color: #24292d;
  }
  .wp-social-link-goodreads {
    background-color: #eceadd;
  }
  .wp-social-link-google {
    background-color: #ea4434;
  }
  .wp-social-link-instagram {
    background-color: #f00075;
  }
  .wp-social-link-lastfm {
    background-color: #e21b24;
  }
  .wp-social-link-mastodon {
    background-color: #3288d4;
  }
  .wp-social-link-medium {
    background-color: #02ab6c;
  }
  .wp-social-link-meetup {
    background-color: #f6405f;
  }
  .wp-social-link-patreon {
    background-color: #ff424d;
  }
  .wp-social-link-pinterest {
    background-color: #e60122;
  }
  .wp-social-link-pocket {
    background-color: #ef4155;
  }
  .wp-social-link-reddit {
    background-color: #fe4500;
  }
  .wp-social-link-skype {
    background-color: #0478d7;
  }
  .wp-social-link-snapchat {
    background-color: #fefc00;
    stroke: #000;
  }
  .wp-social-link-soundcloud {
    background-color: #ff5600;
  }
  .wp-social-link-spotify {
    background-color: #1bd760;
  }
  .wp-social-link-telegram {
    background-color: #2aabee;
  }
  .wp-social-link-tiktok {
    background-color: #000;
  }
  .wp-social-link-tumblr {
    background-color: #011835;
  }
  .wp-social-link-vimeo {
    background-color: #1eb7ea;
  }
  .wp-social-link-vk {
    background-color: #4680c2;
  }
  .wp-social-link-wordpress {
    background-color: #3499cd;
  }
  .wp-social-link-youtube {
    background-color: red;
  }
}
