.wp-block-columns {
  @media (min-width: 1280px) {
    flex-wrap: nowrap;
  }
  display: flex;
  margin-bottom: 1.75em;
  box-sizing: border-box;
  flex-wrap: wrap;
  .wp-block-column {
    @media (min-width: 1280px) {
      flex-basis: 0;
      flex-grow: 1;
    }
    flex-grow: 1;
    flex-basis: 100% !important;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}
