/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
# Base
	- Typography
	- Elements
	- Forms
# Layouts
  - containers
  - grid
  - columns
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# Utilities
	- Alignments

--------------------------------------------------------------*/
@use "sass:math";

// Import variables and mixins.
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# Reboot
--------------------------------------------------------------*/
@import "generic/reboot";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@import "layouts/layouts";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/components";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Alignments
--------------------------------------------- */
@import "utilities/accessibility";
@import "utilities/alignments";
