/************************/
/***** Colors ***********/
/************************/
$body-bg: var(--body--background-color);
$body-color: var(--body-text-color);
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$primary-ac: var(--primary-text-color);
$secondary-ac: var(--secondary-text-color);
$primary-rgb: var(--primary-rgb);
$secondary-rgb: var(--secondary-rgb);
$link-color: var(--link-color);
$link-color-visited: var(--visited-link-color);

/***********************/
/***** Fonts ***********/
/***********************/
$fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif";
$fontSizes: (
  "small": 16px,
  "code": 18px,
  "normal": 21px,
  "big": 28px,
  "display": 56px,
);
$lineHeight: 32px !default;
$lineHeights: (
  "body": 32px,
  "heading": 56px,
);

/***********************/
/***** Layouts *********/
/***********************/
$layout: (
  "contentSize": 700px,
  "wideSize": 1680px,
);

/***********************/
/***** spacers *********/
/***********************/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

/**********************/
/***** radius *********/
/**********************/
$border-radius-lg: 30px;
$border-radius-md: 15px;
$border-radius-sm: 5px;
