/* Pagination navigation
--------------------------------------------- */
.pagination-wrapper {
  padding: $spacer 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
  gap: map-get($spacers, 2);
  .page-item {
    background-color: $primary;
    padding: $spacer;
    line-height: map-get($spacers, 2);
    &.active {
      background-color: $secondary;
      .page-link {
        color: $secondary-ac;
      }
    }
    .page-link {
      color: $primary-ac;
      &:focus {
        box-shadow: 0 0 0 0.25rem rgba($primary-rgb, 0.25);
      }
    }
  }
}
