/* Main navigation
--------------------------------------------- */
.expanded-navbar {
  overflow: hidden;
}
.menu-toggle {
  border-width: 1px;
  border-style: solid;
  margin-left: auto;
  display: flex;
  padding: 0.375rem 0.75rem;
}
.menu-wrapper {
  display: none;
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }
  li {
    ul {
      display: none;
      z-index: 99999;
      li {
        &.focus > ul {
          display: block;
        }
      }
    }
  }
  a {
    position: relative;
    text-decoration: none;
    white-space: nowrap;
  }
}

/** Mobile and tablet view **/
.site-navigation.toggled {
  .menu-wrapper {
    display: block;
    overflow: auto;
  }
  .menu {
    overflow: auto;
    .menu-item {
      width: 100%;
      padding: 1em;
    }
    .has-children {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      &::after {
        content: "\f543";
        font-family: "dashicons";
        border: none;
        margin-right: 1rem;
        margin-left: auto;
      }
    }
    li:not(:last-child) {
      border-bottom: 1px solid $primary;
    }
    .focus {
      &::after {
        content: "\f460";
      }
      > ul {
        display: flex;
        flex-direction: column;
        margin-left: $spacer;
        width: 100%;
        order: 3;
      }
    }
  }
}

/** Laptop and desktop view from MDPI **/
@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    .menu {
      display: flex;
      flex-flow: row wrap;
      position: relative;
      flex: 1 0 auto;
      justify-content: center;
      > .menu-item {
        padding: 1em;
      }
      .menu-item {
        position: relative;
        display: flex;
      }
      .has-children {
        &::after {
          content: "\f140";
          font-family: "dashicons";
          border: none;
          margin: 0;
          align-self: center;
        }
        ul {
          .has-children {
            &::after {
              content: "\f139";
            }
          }
        }
        &:hover {
          > ul {
            display: block;
            position: absolute;
            top: 100%;
            padding: 0;
            ul {
              position: absolute;
              top: 0;
              left: 100%;
            }
          }
        }
        .menu-link {
          width: 100%;
        }
      }
    }
    .sidebar-menu {
      flex-direction: row;
      .widget {
        margin-bottom: 0;
      }
    }
  }
}

/* Sidebar navigation
--------------------------------------------- */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacer;
  .widget {
    margin: 0;
    display: inline-flex;
    align-items: center;
  }
}

/* Comments navigation
--------------------------------------------- */
.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }
  .nav-links {
    display: flex;
  }
  .nav-previous {
    flex: 1 0 50%;
  }
  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

/* Vertical navigation
--------------------------------------------- */
.vertical-nav {
  list-style: none;
  padding: 0;
  .has-children {
    > ul {
      padding-left: $spacer;
    }
  }
  .menu-link {
    display: inline-flex;
    padding: math.div($spacer, 2) 0;
    text-decoration: none;
  }
}
