.comment {
  &.depth-1 {
    border-bottom: 1px solid $primary;
  }
}
.comment-wrapper {
  padding: $spacer 0;
  > * {
    padding: math.div($spacer, 2);
  }
}
.comment-header {
  display: flex;
  flex-wrap: wrap;
}
.author-img {
  flex: 0 0 auto;
  margin-right: 1rem;
}
.comment-meta {
  flex: 1 1 auto;
}
.comment-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.child-comments {
  padding: $spacer 0 0 $spacer;
  .comment {
    border-top: 1px solid $primary;
  }
  .comment-wrapper {
    padding-bottom: 0;
  }
}
.comment-form {
  > * {
    margin: 0;
    padding: $spacer 0;
    &:last-child {
      padding-bottom: 0;
    }
  }
}
.comment-awaiting-moderation {
  font-size: 0.875rem;
  margin: 0;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: $primary;
  &::before {
    content: "";
    font-family: "dashicons";
    vertical-align: middle;
    margin-right: 0.5rem;
    color: $primary;
    font-size: 1rem;
  }
}

.comment-respond {
  padding-top: $spacer;
  flex: 1 0 100%;
}
.comment-reply-title {
  display: flex;
  justify-content: space-between;
  small {
    word-spacing: normal;
  }
}
.logged-in-as {
  display: flex;
  > a:last-child {
    margin-left: auto;
  }
}
